# Ignore .vscode folder
.vscode/**
!.vscode/tasks.json

# Ignore .DS_Store files from macOS
**/.DS_Store

# Ignore .venv folder
.venv/**

# Ignore build directories
**/build

# ignore everything in data except data_split.json
data/*
!data/in
data/in/*
!data/in/ieee
data/in/ieee/*
!data/in/ieee/data_split.json
!data/in/ieee/labelmap.txt

**/__pycache__