# Ignore .vscode folder
**/.vscode

# Ignore .DS_Store files from macOS
**/.DS_Store

# Ignore build directories
**/build

# ignore everything in data except data_split.json
data/*
!data/in
data/in/*
!data/in/ieee
data/in/ieee/*
!data/in/ieee/data_split.json

**/__pycache__