# Data Processing
ffmpeg-python
mega.py@git+https://github.com/pgp/mega.py.git
pandas

# PyTorch
torch>=2.1.0
torchvision>=0.16.0

# Open CV
opencv-python

# CV Zone
cvzone

# Custom object detection
albumentations
tqdm
matplotlib
torchmetrics
pycocotools
