# Data Processing
mega.py@git+https://github.com/pgp/mega.py.git
cvat-sdk
pandas

# PyTorch
torch
torchvision

# Open CV
opencv-python

# CV Zone
cvzone

# Custom object detection
albumentations
tqdm
matplotlib
torchmetrics
pycocotools
